---
import i18next, { changeLanguage } from "i18next";
import getSignedInUser from "~/data/firebase/auth/get-signed-in-user";
import verifySessionCookie from "~/data/firebase/auth/verify-session-cookie";

changeLanguage("en");

if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("__session")?.json();
if (!sessionCookie) {
  return Astro.redirect("/signin");
}
const decodedCookie = await verifySessionCookie(sessionCookie["tokenId"]);
if (!decodedCookie) {
  return Astro.redirect("/signin");
}

const user = await getSignedInUser(sessionCookie["uid"]);
---

<html lang={i18next.language}>
  <head>
    <title>Hedwig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website template for Devfests, powered by GDG Pescara">
  </head>
  <body>
    <main role="main">
      <h1>Welcome to Hedwig!</h1>
      <p>We are happy to see you here</p>
      {user && (
        <h2>User logged: {user.displayName}</h2>
        <form action="/api/auth/signout">
          <button type="submit">Sign out</button>
        </form>
      )}
      <a href="/signin">Login</a>
      {user?.role && <a href="/backoffice">Backoffice</a>}
    </main>
  </body>
</html>