---
import i18next, { changeLanguage } from "i18next";
import LoginComponent from "~/components/LoginComponent.astro";
import verifySessionCookie from "~/data/firebase/auth/verify-session-cookie";

changeLanguage("en");

/* Check if the user is authenticated */
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("__session")?.json()["tokenId"];
if (!sessionCookie) {
  return Astro.redirect("/signin");
}
const decodedCookie = await verifySessionCookie(sessionCookie);
if (!decodedCookie) {
  return Astro.redirect("/signin");
}
---

<html lang={i18next.language}>
  <head>
    <title>Hedwig - Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hedwig - Privacy Policy" />
  </head>
  <body>
    <main role="main">
      <LoginComponent />
    </main>
  </body>
</html>
